{% extends "base.html" %}
    {% block content %}
        <div class="alert alert-dark" role="alert"><h2>Editing of the word with id={{ word_id }}</h2></div>
        <form action="" method="post">
        <p>
            {{ form.hidden_tag() }}
            <div class="alert alert-info" role="alert"><h4>{{ form.word.label }}</h4></div>
            {{ form.word(class="form-control") }}
            {% for error in form.word.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            {{ form.hidden_tag() }}
            <div class="alert alert-info" role="alert"><h4>{{ form.tr_list.label }}</h4></div>
            {{ form.tr_list(class="form-control") }}
            {% for error in form.tr_list.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p>
            <div class="alert alert-info" role="alert"><h4>{{ form.is_pb() }} {{ form.is_pb.label }}</h4></div>
        <br>
        <p>
            {{ form.submit(type="submit", class="btn btn-warning") }}
        </form>
    {% endblock %}